/* ----------------------------------------------------------------------------------------------------- */
/*  @ Masthead styles
/* ----------------------------------------------------------------------------------------------------- */
@import "bootstrap/scss/bootstrap-utilities";

.masthead {
  z-index: 1;
  padding-top: calc(3rem + 74px);
  padding-bottom: 3rem;
}

@include media-breakpoint-up(lg) {
  .masthead {
    padding-top: calc(3rem + 104px);
    padding-bottom: 3rem;
  }
}
