@import "bootstrap/scss/bootstrap-utilities";

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: padding-top 0.3s, padding-bottom 0.3s;

  &.navbar-shrink {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}

@include media-breakpoint-up(lg) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
